@import '../../styles/variables';
.Customers {
  font-size: 1rem;
 
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  height: 4.88em;
}
