@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueThin.eot');
    src: url('../assets/fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueThin.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueThin.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueLight.eot');
    src: url('../assets/fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLight.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueMedium.eot');
    src: url('../assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueMedium.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueMedium.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueBold.eot');
    src: url('../assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueBold.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
