$white: #ffffff;
$light-blue:#2F4BA6;
$shadow-blue: #112E8D;
$black: #444444;
$kudi-blue: #18379A;
$kudi-blue-dark: #0E2D8F;
$kudi-blue-light: #A2B8FC;
$kudi-green: #00E59E;
$kudi-green-light: #01CF8F;
$grey: #748CAD;
$focused-blue:#8faaff;
$footer-text: #748CAD;
$question-header:#223856;
$border-grey:#EAEEF3;
$sky-blue:#0F8CFF;