$white: #ffffff;
$light-blue: #2f4ba6;
$shadow-blue: #112e8d;
$black: #444444;
$kudi-blue: #18379a;
$kudi-blue-dark: #0e2d8f;
$kudi-blue-light: #a2b8fc;
$kudi-green: #00e59e;
$kudi-green-light: #01cf8f;
$grey: #748cad;
$focused-blue: #8faaff;
$footer-text: #748cad;
$question-header: #223856;
$border-grey: #d2ddeb;
$sky-blue: #0f8cff;
$dark-kudi-blue: #15328f;
$text-darker: #223856;
$grey-2: #a1b7ff;
$danger: #ff5b5b;
$light-grey: #f0f4f9;
