@import '../../styles/generic';

.layout {
    font-size: 1rem;
    transition: all 0.3s ease;

    @include md {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: repeat(2, max-content) 1fr;
        grid-template-areas:
            'sidebar header'
            'sidebar filter'
            'sidebar content';
    }

    .links {
        &:nth-of-type(2) {
            svg,
            path {
                fill: currentColor;
                stroke: currentColor;
            }
        }
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.43em;
        z-index: 3;

        @include md {
            grid-area: sidebar;
            font-size: 0.78em;
            position: relative;
            top: initial;
            left: initial;
            z-index: initial;
        }

        button {
            font-size: 1em;
            min-height: 3.21em;

            & > span {
                &:nth-of-type(1) {
                    min-width: 1.21em;
                }
            }
        }
    }

    .main {
        height: 100vh;
        overflow: auto;
    }

    .header,
    .filters,
    .content {
        @include md {
            margin: 0 2.78em;
        }
    }

    .filters,
    .content {
        @include md {
            margin-top: 2.22em;
        }
    }

    .header {
        font-size: 1em;
        background: $kudi-blue;
        color: #fff;
        position: fixed;
        width: 100%;
        z-index: 2;

        @include md {
            margin-top: 1.94em;
            display: flex;
            justify-content: space-between;
            background: initial;
            color: inherit;
            position: fixed;
            width: initial;
            position: relative;
            z-index: initial;
        }

        & > p {
            font-weight: 500;
            font-size: 2em;
            line-height: 120%;
            padding: 0.9em 4em;
            font-weight: normal;

            @include md {
                font-size: 1.39em;
                line-height: 120%;
                font-weight: inherit;
                padding: 0;
            }
        }

        button {
            font-size: 0.77em;
            min-height: 3.21em;
            max-height: 45px;
            display: none;

            @include md {
                display: flex;
            }
        }

        &Sub {
            font-size: 1em;
            background: #fff;
            color: inherit;
            display: flex;
            z-index: 4;
            box-shadow: 0px 4px 10px rgba(116, 140, 173, 0.1);
            align-items: center;

            @include md {
                background: initial;
                display: block;
                box-shadow: none;
            }

            .backBtn {
                height: 6em;
                padding: 2.1em 2.4em;
                cursor: pointer;

                @include md {
                    height: 1.11em;
                    padding: 0;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                svg {
                    height: 100%;
                }
            }

            & > input {
                padding: 0.714em 0;
                width: 100%;
                font-size: 1.4em;
                font-weight: normal;
                border: 0;
                outline: 0;
            }

            & > p {
                padding: 0.9em 1em;

                @include md {
                    margin-left: 2.28em;
                    padding: 0;
                }
            }
        }
    }

    .filters {
        display: flex;
        flex-wrap: nowrap;
        font-size: 1em;
        background: #fff;
        padding: 0 1.2em;
        box-shadow: 0px 5px 10px rgba(116, 140, 173, 0.1);

        @include md {
            background: initial;
            padding: 0;
            box-shadow: none;
        }

        :global {
            .SingleDatePickerInput,
            .DateRangePickerInput {
                display: flex;
                align-items: center;
            }

            .DateRangePicker {
                width: 100%;

                @include md {
                    width: initial;
                }
            }

            .DateRangePickerInput_calendarIcon {
                padding: 0.55em;
            }
        }

        & > div {
            font-weight: 400;
            font-size: 1.3em;
            line-height: 141%;
            letter-spacing: 0.03em;
            border: 0;
            background: transparent;
            padding: 0.6em 0;

            @include md {
                font-size: 0.72em;
                padding: 0;
                margin-right: 1.11em;
                border: inherit;
                background: inherit;
            }

            button {
                line-height: inherit;
            }
        }
    }

    .content {
        font-size: 1em;

        :global {
            .badges {
                font-size: 1em;
                line-height: 123%;
                padding: 0.31em 0.77em;
            }
        }

        table {
            font-size: 1em;
        }
    }
}

.modal {
    font-size: 1.4rem;

    @include md {
        font-size: 0.77rem;
    }

    &Body {
        padding: 0;
    }

    &Header {
        position: relative;
    }

    &Footer {
        @include md {
            font-size: 1em;
            justify-content: flex-start;
        }

        & > button {
            @include md {
                font-size: 1em;
            }

            &:nth-of-type(1) {
                @include md {
                    margin-right: 8.57em;
                    width: 13.21em;
                }
            }
        }
    }
}

.logoSection {
    background: $dark-kudi-blue;
    &_Content {
        display: flex;
        align-items: center;
    }
    &_btn{
        background-color: transparent;
    }
}
