@import '../../styles/breakpoint';
@import '../../styles/variables';
.filters {
    :global {
        .SingleDatePickerInput,
        .DateRangePickerInput {
            border: 0;

            @include md {
                border: 1px solid #d2ddeb;
            }
        }

        .DateInput__small {
            padding-right: 10px;
            min-width: initial;
        }
    }

    & > div {
        width: 50%;

        @include md {
            width: initial;
        }
    }

    .mobileFilter {
        display: flex;
        padding-left: 20px !important;
        border-left: 1px solid $light-grey !important;

        @include md {
            display: none;
        }
    }
    &Caption {
        display: flex;
        align-items: center;
        button {
            margin-left: 0.75em;
            span {
                &:nth-of-type(2) {
                    margin-left: 0.25em;
                    color: $sky-blue;
                }
                svg {
                    path {
                        fill: $sky-blue;
                    }
                }
            }
        }
    }
}
