@import '../../styles/variables';
@import '../../styles/breakpoint';

.First {
    font-size: 1rem;
    display: block;
    @include md {
        display: grid;
        grid-template-columns: 34.05em 1fr;
        grid-row-gap: 1.67em;
        grid-column-gap: 2.167em;
    }

    &Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.33em;
        h3 {
            font-weight: bold;
            line-height: 123%;
            font-size: 0.93em;
            text-transform: uppercase;
        }
        button {
            font-size: 0.93em;
            &:nth-of-type(2) {
                color: $danger;
            }
        }
        &Badge {
            font-size: 0.93em;
        }
    }
    &Body {
        padding: 1.55em;
        &Grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            &Profile {
                width: 8.27em;
                height: 8.27em;
                img {
                    border-radius: 50%;
                }
            }
            &Content {
                display: flex;
                justify-content: space-between;
                font-weight: normal;
                span {
                    color: $grey;
                    padding: 1.37em 0;
                    font-size: 0.9em;
                    &:nth-of-type(2) {
                        color: $text-darker;
                        text-align: right;
                    }
                }
            }
        }
        &Flex {
            display: flex;
            justify-content: space-between;
            font-weight: normal;
            border-bottom: 1px solid $light-grey;
            &:last-of-type {
                border-bottom: none;
            }
            span {
                color: $grey;
                padding: 1.37em 0;
                font-size: 0.9em;
                &:nth-of-type(2) {
                    color: $text-darker;
                    text-align: right;
                }
            }
        }
        &Button {
            background: #f8fbff;
            color: $sky-blue;
            display: flex;
            justify-content: center;
        }
    }
}
.Second {
    font-size: 1rem;
    display: block;

    margin-top: 1.67em;

    &Header {
        h3 {
            font-size: 0.92em;
            font-weight: bold;
        }
    }
}
