@import '../../styles/variables';
.Plans {
  font-size: 1rem;
  &Table {
    td {
      font-weight: 400;
      padding: 1.42em 0;
      button {
        color: $sky-blue;
        span {
          font-size: 0.92em;
          line-height: 123%;
        }
      }
    }}
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  height: 4.88em;
}

.Edit {
  &Header {
    font-weight: normal;
    color: $text-darker;
    text-transform: uppercase;
  }
  &Body {
    padding: 2.5em 3em;
    div {
      margin-bottom: 1.67em;
    }
    button {
      margin-top: 4em;
    }
  }
}