.Header {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  font-weight: normal;
  height: 2.88em;
  margin-bottom: 23px;

  .header-search {
    margin-top: auto;
    margin-right: 2em;
    display: flex;
    align-items: center;

    input {
      box-sizing: border-box;
      font-weight: 100;
      padding: 10px 30px 9px 15px;
      border-right:1px solid #D2DDEB;
      border-left: 1px solid #D2DDEB;
      border-top: 1px solid #D2DDEB;
      border-bottom: 1px solid #D2DDEB;
      font-size: 12px;
      width: 17em;
    }

    .search-icon {
      background: white;
      padding: 9px 12px 4px 10px;
      border-right: 1px solid #D2DDEB;
      border-left: white;
      border-top: 1px solid #D2DDEB;
      border-bottom: 1px solid #D2DDEB;
    }
  }
}

.Card-Table {

  .Table-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .table-heading {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
